# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

# patch files
[*.patch]
insert_final_newline = unset
indent_style = unset
indent_size = unset
tab_width = unset
trim_trailing_whitespace = unset

# git files
[*.{gitignore,gitattributes,gitmodules}]
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
indent_style = tab
indent_size = tab
tab_width = 4
charset = unset
trim_trailing_whitespace = true

# python scripts
[*.py]
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
charset = utf8
trim_trailing_whitespace = true

# Matlab files
[*.{m,c,cpp,h,hpp}]
insert_final_newline = false
indent_style = tab
indent_size = tab
tab_width = 4
charset = unset
trim_trailing_whitespace = true

# shell scripts unix
[*.sh]
end_of_line = lf
insert_final_newline = true

# shell scripts windows
[*.bat]
end_of_line = crlf
insert_final_newline = false
charset = latin1

# tikz files
[*.tikz]
insert_final_newline = false
indent_style = tab
indent_size = tab
tab_width = 4
charset = unset
trim_trailing_whitespace = true

# YAML files
[*.{package.json,yml,yaml,yamllint}]
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true

[lib/YALMIP/**/*.{m,c,cpp,h,hpp,md,gitignore,gitattributes,gitmodules}]
insert_final_newline = unset
indent_style = unset
indent_size = unset
tab_width = unset
charset = unset
trim_trailing_whitespace = unset

[lib/ROLMIP/**/*.{m,c,cpp,h,hpp,md,gitignore,gitattributes,gitmodules}]
insert_final_newline = unset
indent_style = unset
indent_size = unset
tab_width = unset
charset = unset
trim_trailing_whitespace = unset

[lib/optimization/NLOPT/interface/NLOPT/**/*.py]
insert_final_newline = unset
indent_style = unset
indent_size = unset
tab_width = unset
charset = unset
trim_trailing_whitespace = unset

[codegen/**/*]
insert_final_newline = unset
indent_style = unset
indent_size = unset
tab_width = unset
charset = unset
trim_trailing_whitespace = unset
