# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
insert_final_newline = false
indent_style = tab
indent_size = tab
tab_width = 4
charset = utf-8
trim_trailing_whitespace = true

# Matlab files
[*.m]
charset = latin1

# shell scripts unix
[*.sh]
end_of_line = lf
insert_final_newline = true

# shell scripts windows
[*.bat]
end_of_line = crlf
insert_final_newline = false
charset = latin1

# YAML files
[*.{package.json,yml,yaml,yamllint}]
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true