[submodule "lib/optimization/KSOPT"]
	path = lib/optimization/KSOPT
	url = https://github.com/pvogt09/KSOPT_mex.git
[submodule "lib/ROLMIP"]
	path = lib/ROLMIP
	url = https://github.com/pvogt09/ROLMIP.git
	branch = get_hash
